/* Reset */
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background: #4edf97;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
} */

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

/* .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
} */

.nav-links a.logout {
    background: #e74a3b;
    padding: 6px 12px;
    border-radius: 4px;
}
.deliveryimg {
width: 100%;
height: 100%;
object-fit: cover;   
}
/* Container */
/* .container {
    padding: 30px;
} */

/* .subtitle {
    color: #666;
    margin-bottom: 20px;
} */

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #8dafe2;
    padding: 20px;
    width: 200px;
    border-radius: 6px;
    text-align: center;
}





/* Table */
/* .table-box {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
} */

table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 15px;
}

table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* table th {
    background: #f8f9fc;
} */

/* Select */
/* select {
    padding: 5px;
    border-radius: 4px;
} */

